/******************* Страница добавления объявления *******************/
.select-category ul>li {
    width: 25% !important;
    max-width: 25% !important;
}
.select-category ul {
    margin-left: 15%;
    margin-right: 15%;
}
.select-category p {
    font-size: 12px;
}
.select-category nav-link active {
    color: #000000;
    background-color: #cccccc;
}
.select-category .fa {
    font-size: 20px;
}

/*******************  *******************/
.tech-options .btn {
    font-size: 0.75rem;
}
.tech-options .btn-group {
    width: 100%;
}
/*******************  *******************/
.part-options {
    display: none;
}
.part-options .fa-times {
    font-size: 14px;
    color: #b21f2d;
}
.part-options .fa-times:hover {
    cursor: pointer;
}
.part-options .fa-plus-circle {
    font-size: 16px;
    color: #ffffff;
}
.btn-add-compabil-model,
.btn-add-compabil-model:hover,
.btn-add-compabil-model:active,
.btn-add-compabil-model:focus,
.btn-add-compabil-part,
.btn-add-compabil-part:hover,
.btn-add-compabil-part:active,
.btn-add-compabil-part:focus {
    background-color: #ffffff !important;
    color: #000000 !important;
}
.btn-add-compabil-part .fa {
    color: #686868;
}
.input-compabil-part:focus {
    border: orange;
    box-shadow: 1px 1px 2px 0 orange;
}
/*******************  *******************/
.user-vendor, .user-manufacturer, .user-model {
    display: none;
}
/*******************  *******************/

/*******************  *******************/
.upload-images {
    position: relative;
}
.remove-image {
    position: absolute;
    right: 10%;
    top: 5%;
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.remove-image .fa {
    font-size: 20px;
}
/*******************  *******************/
.upload-new {
    width: 110px;
    height: 110px;
}
.upload-new .row {
    height: 100%;
}
.upload-new .fa {
    font-size: 50px;
}
.upload-new input {
    display: none;
}
.upload-new:hover {
    cursor: pointer;
    color: #03a9f4;
}
/*******************  *******************/
.safe-trade .btn-group {
    width: 100%;
}
.safe-trade-not-access {
    display: none;
}