/*******************Блок поиска*******************/
.search_category {
    margin-top: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0px;
    background-color: #0398db;
    border-radius: 4px;
}
/********************Блок доступных категорий********************/
.permiss_category {
    margin-top: 30px;
    margin-bottom: 20px;
}
.permiss_category a {
    text-decoration: none;
    color: gray;
    font-size: 0.9em;
    margin-right: 15px;
    white-space: nowrap;
}
.permiss_category a:hover {
    color: #0398db;
}
.permiss_category span {
    padding-left: 10px;
    color: gray;
    font-size: 0.7em;
    white-space: nowrap;
}
/********************Блок фильтров категорий********************/
.category_filter {
    background: #0398db;
    border-radius: 4px;
}
.category_filter .btn-warning {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}
.category_filter label {
    color: white;
    padding-top: 8px;
    margin-bottom: 0;
}
.checkSafeTrade {
    margin-top: 15px;
}
/***************Блок объявлений*********************/
.category_ads .col {
padding: 5px;
}
.wrapper {
    width: 205px;
    height: 160px;
}
.exmpl {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exmpl img {
    height: 100%;
    width: auto;
}




/**/
.category_ads .card {
    border: none;
    max-height: 18rem;
}
.category_ads .card-body {
    display: flex;
    align-items: center;
    padding: 0;
    background: #eee;

}
.category_ads .card-footer {
    background: white;
    padding: 15px 0;
}
.category_ads .card img {
    max-height: 100%;
    width: auto;
}

/*Разметка блоков под баннерную рекламу*/
.banner_category_footer {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    background: #eee;
}
.banner_category_left {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    background: #eee;
}