/*Подключаем файл шрифтов*/
@import "/fonts/stylesheet.css";
/*Общие настройки*/
html, body {
    font-family: Roboto;
}

/**/
/************************Бургер меню для маленьких экранов************************/
/**/
.navbar {
    background-color: #0398db;
}
.navbar label {
    color: white;
    text-align: left;
}
.navbar i {
    font-size: 1.8em;
}
.navbar button {
    margin-left: 8px;
}
.navbar .btn {
    margin-top: 8px;
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.1em !important;
}
.menuMobile {
    font-size: 0.6em;
}
.menuMobile .btn {
    text-align: left;
    padding-left: 8px;
}
/**/
/************************Блок верхнего меню************************/
/**/
/*Переделанное верхнее меню для всех страниц*/

.menu_top {
    padding: 20px 0 0 0;
}
.menu_top .notice {
    padding-top: 11px;
    padding-bottom: 11px;
    border-right: 1px solid #eee;
}
.menu_top a {
    text-decoration: none;
}
.menu_top span {
    margin-left: 3px;
    margin-right: 3px;
}
.menu_top .fa-stack-1x {
    color: dimgray;
}
.menu_top .fa-stack-2x {
    color: #eee;
}
.menu_top .logo2 {
    position: absolute;
    left: 0;
    top: 20px;
}
.menu_top .profileimg {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 3px;
    margin-right: 8px;
}
.profileimg {
    position: relative;
}
.profileimg img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.profileimg span {
    position: absolute;
    top:0;
    right: 0;
    color: #34ce57;
}
.menu_top .btn-info {
    background: white;
    color: black;
    height: 30px;
    border-radius: 15px;
    margin-right: 3px;
    margin-left: 8px;
    padding-top: 3px;
    padding-bottom: 0;
}
.menu_top .btn-danger {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0;
}
/**/
.menu_top .fa-stack[data-count]:after{
    position:absolute;
    right:0%;
    top:1%;
    content: attr(data-count);
    font-size:50%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width:2em;
    font-weight:bold;
}
/**/
/************************Подвал сайта************************/
/**/
.podval {
    background-color: #0398db;
}
.podval h2 {
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.podval h5 {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.podval h6 {
    text-align: center;
    font-size: 0.8em;
    color: white;
    font-weight: normal;
}
.podval p {
    padding: 0;
    margin: 0;
    color: #cbd3da;
}
.podval a {
    font-weight: lighter;
    color: white;
    text-decoration: none;
}
.podval a:hover {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}
.podvalCopyright a{
    font-weight: normal;
    color: white;
    text-decoration: underline;
}
.podvalCopyright a:hover {
    background-color: transparent;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}
.podval .priziv {
    padding-bottom: 80px;
}
.podval .btn {
    margin-left: 10px;
    margin-right: 10px;
}
.podval .btn-warning {
    color: black;
}
.podval .btn-danger {
    background-color: transparent;
    color: #ffc107;
    border-color: #ffc107;
}
.podval i {
    font-size: 0.8em;
    padding-right: 10px;
}
.podval .text-center p {
    text-align: left;
    padding-left: 20px;
}




/**/
/***************Переопределение свойств при изменении размера****************/
/**/
@media (max-width: 992px) {
    .modal a {
        width: 100%;
    }
}