/*Общие настройки*/
html, body {
    font-family: Roboto;
}
/**/
/************************ Навигационное меню ************************/
/**/
/* Десктопное меню */
.menutop {
    background-color: #ffffff;
}
.menutop a {
    position: relative;
}
/* Кнопка Войти/Выйти */
.menutop .btn-info {
    background: white;
    color: black;
    height: 30px;
    border-radius: 15px;
    padding-top: 3px;
}
@media (max-width: 767px) {
    .menutop {
        background-color: #0398db;
        width: 100%;
        max-width: 100%;
    }
    .menutop>nav>span {
        display: contents;
    }
}
/* Лэйбл авторизации пользователя */
.menutop .label_log-in:after {
    position: absolute;
    top: -4px;
    right: 4px;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: none;
    background: #34ce57;
}
/* Лэйбл (Badge) наличия количества уведомлений */

.menutop .badge {
    position:absolute;
    right:0%;
    background:rgba(255,0,0,.85);
    top:1%;
    font-size: 10px;
    font-weight: 300;
}
.menutop .fa-stack-1x {
    color: dimgray;
}
.menutop .fa-stack-2x {
    color: #eee;
}
/**/
.menutop .profile_img {
    position: relative;
}
.menutop .profile_img img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
/* Мобильное меню */
.menutop button>span {
    font-size: 1.6em;
}
.menutop .btn-full-width {
    width: 100%;
}
.menutop label {
    color: #ffffff;
}
.menutop .nav-link {
    color: #ffffff !important;
}

/**/
/************************ Общий контент для всех страниц ************************/
/**/
/* Хлебные крошки */
.breadcrumb {
    background: none;
    margin: 20px 0;
    padding: 0;
}
.breadcrumb a {
    text-decoration: none;
    color: gray;
    margin-right: 5px;
    white-space: nowrap;
    font-size: 16px;
}
.breadcrumb a:hover {
    color: #0398db;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: '>';
}
/* Блок Поиска простой (на всех страницах, кроме главной и детального поиска) */
.search {
    margin-top: 25px;
    padding: 3px 1px;
    background-color: #0398db;
    border-radius: 4px;
}
.search>div {
    padding: 5px;
}
@media (min-width: 992px) {
    .search_btn-search {
        width: 100%;
    }
}
/**/





/**/
/************************Подвал сайта************************/
/**/
.footer {
    background-color: #0398db;
}
.footer h2 {
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer h5 {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer h6 {
    text-align: center;
    font-size: 0.8em;
    color: white;
    font-weight: normal;
}
.footer p {
    padding: 0;
    margin: 0;
    color: #cbd3da;
}
.footer a {
    font-weight: lighter;
    color: white;
    text-decoration: none;
}
.footer a:hover {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}
.footerCopyright a{
    font-weight: normal;
    color: white;
    text-decoration: underline;
}
.footerCopyright a:hover {
    background-color: transparent;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}
.footer .slogan-to-earn {
    padding-bottom: 80px;
}
.footer .btn {
    margin-left: 10px;
    margin-right: 10px;
}
.footer .btn-warning {
    color: black;
}
.footer .btn-danger {
    background-color: transparent;
    color: #ffc107;
    border-color: #ffc107;
}
.footer i {
    font-size: 0.8em;
    padding-right: 10px;
}
.footer .text-center p {
    text-align: left;
    padding-left: 20px;
}




/**/
/***************Переопределение свойств при изменении размера****************/
/**/
@media (max-width: 992px) {
    .modal a {
        width: 100%;
    }
}
