
/*Блок поиска на главной*/
.blockSearchMain {
    background: #03a9f4;
    border-radius: 4px;
    margin-top: 40px;
    padding-top: 20px;
}
.blockSearchMain .btn {
    width: 90%;
}
.blockSearchMain a {
    color: white;
    text-decoration: none;
}
.blockSearchMain i {
    font-size: x-large;
}
.blockSearchMain label {
    color: white;
}
.rowSearchMain {
    width: 100%;
    margin: 0;
    padding: 0 20px 0px 20px;
}
.rowSearchBottom {
    width: 100%;
    height: 30px;
    padding: 0 20px 0 20px;
    margin: 0;
    border-top: 1px solid #eee;
    color: white;
    background-color: #0398db;
    border-radius: 0 0 4px 4px;
}
/*Категории на главной*/
/*Стили для подкатегорий в модальном окне*/
.modalCategoryDetail a {
    float: left;
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 0 8px 0;
    padding: 0 4px;
    line-height: 26px;
    font-size: 13px;
    color: white;
}
.modalCategoryDetail .icon i {
    display: inline-block;
    font-size: 20px;
    line-height: 46px;
    color: white;
}
.categoryDetailMain {
    float: left;
    position: relative;
    padding: 10px 10px 10px 62px;
    background-color: #03a9f4;
    border-radius: 4px;
    width: 100%;
}
.categoryDetailMain .icon {
    position: absolute;
    font-weight: 500;
    top: 0;
    left: 0;
    width: 50px;
    height: 46px;
    text-align: center;
    background-color: #0398db;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.btnAddAd {
    background-color: #28a745;
}
.btnAddAd .icon {
    background-color: #1c7430;
}
.btnAddFastSearch {
    background-color: #c82333;
}
.btnAddFastSearch .icon {
    background-color: #b21f2d;
}
/**/
.blockCategoryMain {
    padding-top: 30px;
}
.categoryMain {
    font-size: 3em;
    padding: 30px 0 0 0;
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
}
.categoryMain .fa-circle {
    color: white;
    text-shadow: 0px 0px 6px #ccc;
}
.categoryMain .fa-stack .fa-stack-1x {
    font-size: 0.5em;
}
.categoryMainCaption {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
.categoryMainCaption a {
    color: black;
    text-decoration: none;
}
/**/
.categoryMainPrint .fa-stack:hover .fa-circle {
    color: #0398db;
    text-shadow: 0px 0px 6px #ccc;
}
.categoryMainPrint .fa-stack:hover .fa-print {
    color: white;
}
.categoryMainPrint .fa-stack .fa-print {
    color: #0398db;
}
/**/
.categoryMainPhone .fa-stack:hover .fa-circle {
    color: #34ce57;
}
.categoryMainPhone .fa-stack:hover .fa-phone {
    color: white;
}
.categoryMainPhone .fa-stack .fa-phone {
    color: #34ce57;
}
/**/
.categoryMainTab .fa-stack:hover .fa-circle {
    color: #6f42c1;
}
.categoryMainTab .fa-stack:hover .fa-tablet {
    color: white;
}
.categoryMainTab .fa-stack .fa-tablet {
    color: #6f42c1;
}
/**/
.categoryMainNotebook .fa-stack:hover .fa-circle {
    color: #c69500;
}
.categoryMainNotebook .fa-stack:hover .fa-laptop {
    color: white;
}
.categoryMainNotebook .fa-stack .fa-laptop {
    color: #c69500;
}
/**/
.categoryMainTV .fa-stack:hover .fa-circle {
    color: #c82333;
}
.categoryMainTV .fa-stack:hover .fa-tv {
    color: white;
}
.categoryMainTV .fa-stack .fa-tv {
    color: #c82333;
}
/**/
.categoryMainPC .fa-stack:hover .fa-circle {
    color: #ff4500;
}
.categoryMainPC .fa-stack:hover .fa-desktop {
    color: white;
}
.categoryMainPC .fa-stack .fa-desktop {
    color: #ff4500;
}
/**/
.categoryMainRashodka .fa-stack:hover .fa-circle {
    color: deeppink;
}
.categoryMainRashodka .fa-stack:hover .fa-leaf {
    color: white;
}
.categoryMainRashodka .fa-stack .fa-leaf {
    color: deeppink;
}
/**/
.categoryMainOther .fa-stack:hover .fa-circle {
    color: #686868;
}
.categoryMainOther .fa-stack:hover .fa-spinner {
    color: white;
}
.categoryMainOther .fa-stack .fa-spinner {
    color: #686868;
}
/*Объявления на главной*/
.goodsMain {
    margin-top: 30px;
}
.goodsMain p {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}
.goodsMain h6 {
    margin: 0;
    padding: 0;
}
figure {
    overflow: hidden;

}
figure h6 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0398db;
}
figure p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.goodsMain .city {
    color: #686868;
}
.goodsMain .dateTime {
    color: #686868;
}
.goodsMain .price {
    font-weight: bold;
}
.goodsMain img {
    height: 100%;
    width: auto;
    max-height: 170px;
}
/*Сервисы ProdaiZIP*/
.serviceProdaiZIP {
    margin-top: 30px;
}
.serviceProdaiZIP p {
    font-size: 0.8em;
}
.serviceProdaiZIP i {
    padding-top: 5px;
    font-size: 2.2em;
}
.serviceProdaiZIP a:hover p {
    font-weight: bold;
}
.serviceFastSearch a {
    color: #c82333;
    text-decoration: none;
}
.serviceFastSearch a p {
    color: black;
}
.serviceSafeSdelka a {
    color: #0398db;
    text-decoration: none;
}
.serviceSafeSdelka a p {
    color: black;
}
/*Блок быстрый поиск*/
.fastSearch {
    padding-top: 30px;
}
.fastSearch table {
    margin: 0 auto;
}
.fastSearch thead {
    background-color: #0398db;
    color: white;
}
.fastSearch table i {
    font-size: 2em;
    color: #c82333;
}
.fastSearch td:last-child {
    text-align: right;
}
.fastSearch tr:last-child td {
    text-align: center;
}
.fastSearch a {
    font-size: 0.8em;
    color: dimgray;
}

/*Изменение элементов при изменении масштаба страницы*/
@media (max-width: 766px) {
    .blockSearchMain .btn {
        width: 100%;
    }
}
@media (max-width: 1200px) {
    .categoryMain {
        font-size: 2em;
    }
}
@media (max-width: 994px) {
    .categoryMainCaption {
        font-size: 0.3em;
    }
}