/*Подключаем файл шрифтов*/
@import "/fonts/stylesheet.css";
/*Общие настройки*/
html, body {
    font-family: Roboto;
}
/*Бургер меню для маленьких экранов*/
.navbar {
    background-color: #0398db;
}
.navbar label {
    color: white;
    text-align: left;
}
.navbar i {
    font-size: 1.8em;
}
.navbar button {
    margin-left: 8px;
}
.navbar .btn {
    margin-top: 8px;
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.1em !important;
}
.menuMobile {
    font-size: 0.6em;
}
.menuMobile .btn {
    text-align: left;
    padding-left: 8px;
}
/*Блок меню*/
.blockMenuMain {
    margin-top: 20px;
}
.blockMenuMain .logo {
    padding: 0;
}
.logo img {
    height: 100%; width: auto;
}
.iconNotice {
    padding: 0;
}
.iconNotice .fa-stack-2x {
    color: #eee;
}
.iconNotice .fa-stack-1x {
    color: dimgray;
}
.iconAd {
    padding: 0;
    border-right: 1px solid #eee;
}
.iconAd .fa-stack-2x {
    color: #eee;
}
.iconAd .fa-stack-1x {
    color: dimgray;
}
.loginMenu {
    padding: 0px 0px 0px 5px;
    margin: 0;
}
.loginMenu .btn {
    padding: 0px;
    width: 90%;
    height: 80%;
    border-radius: 12px;
    background: white;
    color: #0f6674;
}
.profileMenu {
    padding: 0;
}
.profileMenu img {
    width: 90%;
    height: 90%;
}
.btnLoginMenu1 {
    padding: 0;
}
.btnLoginMenu1 .btn {
    height: 90%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.btnLoginMenu2 {
    padding: 0;
}
.btnLoginMenu2 .btn{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.menus {
    height: 40px;
}

/**/
.fa-stack[data-count]:after{
    position:absolute;
    right:0%;
    top:1%;
    content: attr(data-count);
    font-size:50%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width:2em;
    font-weight:bold;
}
/*Блок поиска на главной*/
.blockSearchMain {
    background: #03a9f4;
    border-radius: 4px;
    margin-top: 40px;
    padding-top: 20px;
}
.blockSearchMain .btn {
    width: 90%;
}
.blockSearchMain a {
    color: white;
    text-decoration: none;
}
.blockSearchMain i {
    font-size: x-large;
}
.blockSearchMain label {
    color: white;
}
.rowSearchMain {
    width: 100%;
    margin: 0;
    padding: 0 20px 0px 20px;
}
.rowSearchBottom {
    width: 100%;
    height: 30px;
    padding: 0 20px 0 20px;
    margin: 0;
    border-top: 1px solid #eee;
    color: white;
    background-color: #0398db;
    border-radius: 0 0 4px 4px;
}
/*Категории на главной*/
/*Стили для подкатегорий в модальном окне*/

.modal-body a {
    float: left;
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 0 8px 0;
    padding: 0 4px;
    line-height: 26px;
    font-size: 13px;
    color: white;
}
.categoryDetailMain {
    float: left;
    position: relative;
    padding: 10px 10px 10px 62px;
    background-color: #03a9f4;
    border-radius: 4px;
    width: 100%;
}
.categoryDetailMain .icon {
    position: absolute;
    font-weight: 500;
    top: 0;
    left: 0;
    width: 50px;
    height: 46px;
    text-align: center;
    background-color: #0398db;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.categoryDetailMain .icon i {
    display: inline-block;
    font-size: 20px;
    line-height: 46px;
    color: white;
}

.modal .btn {
    margin: 5px;
}
.modal .btn-icon {
    padding-top: 0;
    padding-bottom: 0;
}
.btn > .icon {
    position: relative;
    left: -0.75rem;
    display: inline-block;
    padding: .375rem .75rem;
    background: rgba(0, 0, 0, 0.15);
    border-radius: .25rem 0 0 .25rem;
}

/**/
.blockCategoryMain {
    padding-top: 30px;
}
.categoryMain {
    font-size: 3em;
    padding: 30px 0 0 0;
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
}
.categoryMain .fa-circle {
    color: white;
    text-shadow: 0px 0px 6px #ccc;
}
.categoryMain .fa-stack .fa-stack-1x {
    font-size: 0.5em;
}
.categoryMainCaption {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
.categoryMainCaption a {
    color: black;
    text-decoration: none;
}
/**/
.categoryMainPrint .fa-stack:hover .fa-circle {
    color: #0398db;
    text-shadow: 0px 0px 6px #ccc;
}
.categoryMainPrint .fa-stack:hover .fa-print {
    color: white;
}
.categoryMainPrint .fa-stack .fa-print {
    color: #0398db;
}
/**/
.categoryMainPhone .fa-stack:hover .fa-circle {
    color: #34ce57;
}
.categoryMainPhone .fa-stack:hover .fa-phone {
    color: white;
}
.categoryMainPhone .fa-stack .fa-phone {
    color: #34ce57;
}
/**/
.categoryMainTab .fa-stack:hover .fa-circle {
    color: #6f42c1;
}
.categoryMainTab .fa-stack:hover .fa-tablet {
    color: white;
}
.categoryMainTab .fa-stack .fa-tablet {
    color: #6f42c1;
}
/**/
.categoryMainNotebook .fa-stack:hover .fa-circle {
    color: #c69500;
}
.categoryMainNotebook .fa-stack:hover .fa-laptop {
    color: white;
}
.categoryMainNotebook .fa-stack .fa-laptop {
    color: #c69500;
}
/**/
.categoryMainTV .fa-stack:hover .fa-circle {
    color: #c82333;
}
.categoryMainTV .fa-stack:hover .fa-tv {
    color: white;
}
.categoryMainTV .fa-stack .fa-tv {
    color: #c82333;
}
/**/
.categoryMainPC .fa-stack:hover .fa-circle {
    color: #ff4500;
}
.categoryMainPC .fa-stack:hover .fa-desktop {
    color: white;
}
.categoryMainPC .fa-stack .fa-desktop {
    color: #ff4500;
}
/**/
.categoryMainRashodka .fa-stack:hover .fa-circle {
    color: deeppink;
}
.categoryMainRashodka .fa-stack:hover .fa-cogs {
    color: white;
}
.categoryMainRashodka .fa-stack .fa-cogs {
    color: deeppink;
}
/**/
.categoryMainOther .fa-stack:hover .fa-circle {
    color: #686868;
}
.categoryMainOther .fa-stack:hover .fa-plug {
    color: white;
}
.categoryMainOther .fa-stack .fa-plug {
    color: #686868;
}
/*Объявления на главной*/
.goodsMain {
    margin-top: 30px;
}
.goodsMain p {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}
.goodsMain h6 {
    margin: 0;
    padding: 0;
}
figure {
    overflow: hidden;

}
figure h6 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0398db;
}
figure p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.goodsMain .city {
    color: #686868;
}
.goodsMain .dateTime {
    color: #686868;
}
.goodsMain .price {
    font-weight: bold;
}
.goodsMain img {
    height: 100%;
    width: auto;
    max-height: 170px;
}
/*Сервисы ProdaiZIP*/
.serviceProdaiZIP {
    margin-top: 30px;
}
.serviceProdaiZIP p {
    font-size: 0.8em;
}
.serviceProdaiZIP i {
    padding-top: 5px;
    font-size: 2.2em;
    color: #0398db;
}
/*Блок быстрый поиск*/
.fastSearch {
    padding-top: 30px;
}
.fastSearch table {
    margin: 0 auto;
}
.fastSearch thead {
    background-color: #0398db;
    color: white;
}
.fastSearch table i {
    font-size: 2em;
    color: #c82333;
}
.fastSearch td:last-child {
    text-align: right;
}
.fastSearch tr:last-child td {
    text-align: center;
}
.fastSearch a {
    font-size: 0.8em;
    color: dimgray;
}
/*Подвал сайта*/
.podval {
    background-color: #0398db;
}
.podval h2 {
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.podval h5 {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.podval h6 {
    text-align: center;
    font-size: 0.8em;
    color: white;
    font-weight: normal;
}
.podval p {
    padding: 0;
    margin: 0;
    color: #cbd3da;
}
.podval a {
    font-weight: lighter;
    color: white;
    text-decoration: none;
}
.podval a:hover {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}
.podvalCopyright a{
    font-weight: normal;
    color: white;
    text-decoration: underline;
}
.podvalCopyright a:hover {
    background-color: transparent;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}
.podval .priziv {
    padding-bottom: 80px;
}
.podval .btn {
    margin-left: 10px;
    margin-right: 10px;
}
.podval .btn-warning {
    color: black;
}
.podval .btn-danger {
    background-color: transparent;
    color: #ffc107;
    border-color: #ffc107;
}
.podval i {
    font-size: 0.8em;
    padding-right: 10px;
}
.podval .text-center p {
    text-align: left;
    padding-left: 20px;
}
/*Изменение элементов при изменении масштаба страницы*/
@media (max-width: 992px) {
    .modal a {
        width: 100%;
    }
}
@media (max-width: 766px) {
    .blockSearchMain .btn {
        width: 100%;
    }
}
@media (max-width: 1200px) {
    .categoryMain {
        font-size: 2em;
    }
}
@media (max-width: 1200px) {
    .menus {
        height: 30px;
    }
}
@media (max-width: 994px) {
    .categoryMainCaption {
        font-size: 0.3em;
    }
}