/* например, сделаем гибкими только те изображения, которые расположены в элементе с классом main */

.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.1em !important;
}
.fa-stack[data-count]:after{
    position:absolute;
    right:0%;
    top:1%;
    content: attr(data-count);
    font-size:50%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width:2em;
    font-weight:bold;
}

.menus {
    height: 40px;
}
/*Категории на главной*/
.blockCategoryMain {
    padding-top: 30px;
}
.categoryMain {
    font-size: 3em;
    padding: 30px 0 0 0;
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
}
.categoryMain .fa-circle {
    color: white;
    text-shadow: 0px 0px 6px #ccc;
}
.categoryMain .fa-stack .fa-stack-1x {
    font-size: 0.5em;
}
.categoryMainCaption {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
.categoryMainCaption a {
    color: black;
    text-decoration: none;
}
/**/
.categoryMainPrint .fa-stack:hover .fa-circle {
    color: #0398db;
    text-shadow: 0px 0px 6px #ccc;
}
.categoryMainPrint .fa-stack:hover .fa-print {
    color: white;
}
.categoryMainPrint .fa-stack .fa-print {
    color: #0398db;
}
/**/
.categoryMainPhone .fa-stack:hover .fa-circle {
    color: #34ce57;
}
.categoryMainPhone .fa-stack:hover .fa-phone {
    color: white;
}
.categoryMainPhone .fa-stack .fa-phone {
    color: #34ce57;
}
/**/
.categoryMainTab .fa-stack:hover .fa-circle {
    color: #6f42c1;
}
.categoryMainTab .fa-stack:hover .fa-tablet {
    color: white;
}
.categoryMainTab .fa-stack .fa-tablet {
    color: #6f42c1;
}
/**/
.categoryMainNotebook .fa-stack:hover .fa-circle {
    color: #c69500;
}
.categoryMainNotebook .fa-stack:hover .fa-laptop {
    color: white;
}
.categoryMainNotebook .fa-stack .fa-laptop {
    color: #c69500;
}
/**/
.categoryMainTV .fa-stack:hover .fa-circle {
    color: #c82333;
}
.categoryMainTV .fa-stack:hover .fa-tv {
    color: white;
}
.categoryMainTV .fa-stack .fa-tv {
    color: #c82333;
}
/**/
.categoryMainPC .fa-stack:hover .fa-circle {
    color: #ff4500;
}
.categoryMainPC .fa-stack:hover .fa-desktop {
    color: white;
}
.categoryMainPC .fa-stack .fa-desktop {
    color: #ff4500;
}
/**/
.categoryMainRashodka .fa-stack:hover .fa-circle {
    color: deeppink;
}
.categoryMainRashodka .fa-stack:hover .fa-cogs {
    color: white;
}
.categoryMainRashodka .fa-stack .fa-cogs {
    color: deeppink;
}
/**/
.categoryMainOther .fa-stack:hover .fa-circle {
    color: #686868;
}
.categoryMainOther .fa-stack:hover .fa-plug {
    color: white;
}
.categoryMainOther .fa-stack .fa-plug {
    color: #686868;
}
/*Объявления на главной*/
.goodsMain p {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}
.goodsMain h6 {
    margin: 0;
    padding: 0;
}
figure {
    overflow: hidden;

}
figure h6 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0398db;
}
figure p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.goodsMain .city {
    color: #686868;
}
.goodsMain .dateTime {
    color: #686868;
}
.goodsMain .price {
    font-weight: bold;
}
.goodsMain img {
    height: 100%;
    width: auto;
    max-height: 170px;
}
/*Сервисы ProdaiZIP*/
.serviceProdaiZIP p {
    font-size: 0.8em;
}
.serviceProdaiZIP i {
    padding-top: 5px;
    font-size: 2.2em;
    color: #0398db;
}
/*Блок быстрый поиск*/
.fastSearch thead {
    background-color: #0398db;
    color: white;
}
.fastSearch table i {
    font-size: 2em;
    color: #c82333;
}
.fastSearch td:last-child {
    text-align: right;
}
.fastSearch tr:last-child td {
    text-align: center;
}
/*Подвал сайта*/
.podval {
    background-color: #0398db;
}
.podval h2 {
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.podval h5 {
    color: white;
    padding-bottom: 10px;
}
.podval h6 {
    text-align: center;
    font-size: 0.8em;
    color: white;
    font-weight: normal;
}
.podval p {
    padding: 0;
    margin: 0;
    color: #cbd3da;
}
.podval a {
    color: white;
    text-decoration: underline;
}
.podval a:hover {
    color: black;
    text-decoration: none;
}
.podval .priziv {
    padding-bottom: 80px;
}
.podval .btn {
    margin-left: 10px;
    margin-right: 10px;
}
.podval .btn-warning {
    color: black;
}
.podval .btn-danger {
    background-color: transparent;
    color: #ffc107;
    border-color: #ffc107;
}
.podval i {
    font-size: 0.8em;
    padding-right: 10px;
}
/*Изменение элементов при изменении масштаба страницы*/
@media (max-width: 1200px) {
    .categoryMain {
        font-size: 2em;
    }
}
@media (max-width: 1200px) {
    .menus {
        height: 30px;
    }
}
